h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', sans-serif;
}

p{
  color: #865439;
}

.pictOfHer {
  width: 22rem;
  position: relative;
  left: 50px;
}

.headingHBD {
  font-size: 3.2rem;
  color: #57837B;
}

.colored-section {
  background-color: #F0E5CF;
  color: #fff;
}

.container-fluid {
  padding: 7% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.somethingSpecial {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  position: relative;
  width: 228px;
  height: 64px;

  background: #4B6587;
  border-radius: 60px;
  text-decoration: none;
  margin-top: 20px;
}

.somethingSpecial:hover{
  color: #F0E5CF;
}

.iframe{
  text-align: center;
  margin: 20% 0 15%;
}

.bc_copyright{
  position: relative;
  text-align: center;
  margin: 6px 0 6px;
}

.sp{
  text-align: center;
}

.ucapanHeading{
  margin-top: 50px;
}
